$greenFalls: #33AD7B;
$blueLake: #476a88;
$graySilver: #c0c0c0;
.jobs{
  font-size: 1.6rem;
  .jobs-list{
    .job-title{
      margin-right: 5%;
      width: 40%;
      display: inline-block;
      font-weight: 900;
      color: $blueLake;
    }
    .job-company{}
    .at-sign{ color:red;}
    .navbar-right{
      margin-right: 0;
      color: $greenFalls;
    }
  }
  // new jobs form
  .form-horizontal {
    padding: 0 15px;
  }
  .form-group {
    margin-bottom: 35px;
  }
  .job_company, .job_title  {
    margin-bottom: 3px;
  }
  .job-subtitle {
    font-size: 1.2rem;
    color: $graySilver;
    display: block;
    margin-bottom: 15px;
  }
}
