%footer.footer
  <!-- <p class="pull-right"><a href="#">Back to top</a></p> -->
  %small
    Made with
    %i.fa.fa-heart
    in Toronto
    By #{link_to "Ahmed Nadar", "http://ahmednadar.github.io/", target: "_blank", class: 'made-by'}
    %br/
    \ &#169;2015 Rails Jobs Board
